{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container-post">
        <div class="post">
            <h1 class="d-inline-block">New Articles</h1><a href="{{ path('post_add') }}"><i class="ml-2 fas fa-2x fa-plus-circle"></i></a>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div>
                {% for post in posts %}
                    <article class="post-preview" onclick="location='{{ path('post_read', {post: post.id}) }}'">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content | striptags | slice(0, 300) }}...</p>
                    </article>
                {% endfor %}
            </div>

        </div>
        <div class="info">
            {% include 'post/sidebar_user.html.twig' %}
        </div>
    </div>


{% endblock %}
