{% extends 'base.html.twig' %}

{% block title %}{{ post.title }} - Article{% endblock %}

{% block body %}
    <div class="container-post">

        <div class="post">
            <p class="back"><a href="{{ path('post_index') }}"><i class="fas fa-3x fa-angle-left"></i>&nbsp;&nbsp;&nbsp;All
                    articles</a></p>
            <article>
                <h1>{{ post.title }}</h1>
                <small>Published on {{ post.createdAt | date('F m Y') }} - {{ post.author.username }}</small>
                <div class="content-article">{{ post.content | raw }}</div>
            </article>

            {{ form_start(form) }}
            {% if not form.vars.valid %}
                <div class="bg-danger">
                    Le formulaire contient une ou plusieurs erreurs<br><br>
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <hr>

            {{ form_row(form._token) }}

            {% if app.user %}
                {{ form_row(form.content) }}
                <input type="submit" class="btn btn-primary" value="Send">
            {% else %}
                {{ form_row(form.content, { 'attr' : {'disabled': 'disabled', 'placeholder': 'Vous devez être connecté pour écrire un commentaire'}} ) }}
            {% endif %}

            {{ form_end(form,  {'render_rest': false}) }}

            <div class="comments">
                <h3>Commentaires :</h3>
                <div class="comments">
                    {% for comment in post.comments|filter(v => v.isDeleted == false) | reverse %}
                            <div class="my-3 ml-2">
                                <b class="d-block">{{ comment.author }} :</b>
                                {{ comment.content }}
                            </div>
                    {% else %}
                        <i>Soyez le premier à écrire un commentaire !</i>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="info">
            {% include 'post/sidebar_user.html.twig' %}
        </div>
    </div>


{% endblock %}
