<div class="sticky mt-2">

    {% if app.user %}
        <h3>Derniers articles</h3>
        <div class="last_posts">
            {% for last_post in last_posts_user %}
                <article>
                    <h5 class="title">{{ last_post.title }}</h5>
                    <small>{{ last_post.content | striptags | slice(0, 50) }}...</small>
                </article>
            {% else %}
                <i>Pas encore d'article...</i>
            {% endfor %}
        </div>


        <h3>Top Articles</h3>
        <div class="top_posts">
            {% for top_post in top_posts_user %}
                <article>
                    <h5 class="title">{{ top_post.title }}</h5>
                    <small>{{ top_post.content | striptags | slice(0, 50) }}...</small>
                </article>
            {% else %}
                <i>Pas encore d'article...</i>
            {% endfor %}
        </div>
    {% else %}
        <p class="mb-2">Vous n'êtes pas connecté</p>
        <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Se connecter</a>
        <a href="{{ path('app_register') }}" class="btn btn-outline-primary">S'inscrire</a>
    {% endif %}


</div>
